body{
    background-color: tomato;
}

.header{
    width: 100%;
    height:4em;
    background-color: tomato;
    border: black;
}
.botones{
    display: flex;
    
}

a{
    color: inherit;
    text-decoration: none;
}

.button1{
    border-color: black;
    margin-left: 150px;
    padding: .6em;
}
.button2{
    margin-left: 40px;
    padding: .6em;
    
}
.button3{
    margin-left: 40px;
    padding: .6em;
    
}
.button4{
    margin-left: 40px;
    padding: .6em;
    
}
.button5{
    margin-left: 40px;
    padding: .6em;
    
}
.button6{
    margin-left: 40px;
    padding: .6em;
    
}

button{
    border-radius: 10px;
    border: 1px solid black;
    background-color: tomato;
    width: 10em;
    height: 3em;
    -webkit-transition-duration: 0.4s; 
    transition: 1s ease;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button:hover {
    transform : scale(1.2);
    background-color: tomato; 
    color: white;
}
.article{
    background-color: tomato;
    
}

p{
    margin-top: 20px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

img{
    margin-left: 30px;
    width: 30em;
    height: 30em;
}

.prod1{
    margin-left: 20px;
    width: 10em;
    height: 15em;
    background-color: blueviolet;
}

/*Formulario login-register/*/

.login-page {
  font-family: roboto;
  width: 360px;
  padding: 4% 0 0;
  margin: auto;
}
.register-page {
    font-family: roboto;
    width: 360px;
    padding: 4% 0 0;
    margin: auto;
  }
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: tomato;
  width: 100%;
  border: 0;
  padding: 15px;
  color: black;
  font-size: 14px;
  -webkit-transition: all 0.4 ease;
  transition: all 0.4 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: tomato;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: tomato;
  text-decoration: none;
}
.form register-form {
  display: none;
}
